@charset "UTF-8";
/* CSS Document */
/*****************************************************
GENERAL STYLES
/*****************************************************
MARGIN PADDING RESET
******************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*****************************************************
HIGHLIGHTS
******************************************************/
::selection {
    background: lime; /* WebKit/Blink Browsers */
}
mark {
    background: lime;
    color: white;
}
/*****************************************************
GENERAL
******************************************************/
html {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}
body {
    height: 100vh;
    background-color: black;
    background-position: center, center;
    background-attachment: fixed;
    
    /* THIS IS THE BASE TYPE SIZE FOR THE WHOLE PAGE*/
    font-size: 16px;
}
section {
    width: 100vw;
}
/*****************************************************
GENERAL TYPOGRAPHY
******************************************************/
.text_section {
    background-color: white;
    padding: 100px 0 100px 0;
    font-family: 'Roboto', sans-serif;
}
.textbox {
    margin: 0 auto;
}
.thickdivider {
    width: 50px;
    height: 5px;
    background-color: black;
    margin-top: 0;
    margin-bottom: 20px;
}
.thindivider {
    width: 50px;
    height: 2px;
    background-color: black;
    margin-top: 60px;
    margin-bottom: 40px;
}
/****************************************************
LINE SPACING (LEADING) 
*****************************************************/
.more_linespace {
    line-height: 1.5;
}
.double_linespace {
    line-height: 2;
}
.triple_linespace {
    line-height: 3;
}
/*****************************************************
FIXED LOGO BUTTON (TOP LEFT)
******************************************************/
/*#fixed_button {
    width: 50px;
    height: 50px;
    background-color: lime;
    border-radius: 50px;
    position: fixed;
    left: 25px;
    top: 12px;
    background-image: url(../_assets/_images/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    z-index: 9999;

    /* HOVER TRANSITION */
    /*transition: all .5s ease;
}
/*#fixed_button:hover {
    background-color: blue;
    background-image: url(../_assets/_images/cross_rover.svg);
}*/

/*****************************************************
HEADER & NAV
******************************************************/
header {
    width: 100%;
    padding: 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    /* FLEX */
    display: flex;
    align-content: flex-start;
    color: white;
}
.header_column {
    width: 67.333%;;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover {
    color: rgb(0, 4, 255);
}
/*.googlemark {
    text-align: center;
    font-weight: 700;
    letter-spacing: .3em;
}/*
.googlemark:hover {
    color: lime;
}
nav {
    /* FLEX 
    display: flex;
    align-content: space-between;
}*/
.navbutton {
    width: 33.333%;
    text-align: center;
}
.navbutton a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: .05em;
}
.navbutton a:hover {
    color: rgb(0, 4, 255);
}
.designedby {
    text-align: right;
    font-size: .9em;
}
/*****************************************************
FEATURE SECTION
******************************************************/
.feature {
    height: 100vh;
    background-position: center;
    background-size: 1000px;
    background-repeat: no-repeat;
    background-color: #062238;
    
}
.HeaderImage{
    height: auto;
    max-width: 50%;
    position: relative;
    left: 50%;
    top: 100px;
}
.HeaderTitle{
    font-size: 145px;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    position: absolute;
    top: 30vh;
    left: 5vw;
    width: 40vw;
}
/*****************************************************
LARGE TEXTBOX SECTION
******************************************************/
.large_textbox {
    height: 100vh;
    background-color: #FFFEF5;
    padding: 25px;
}
.large_text {
    font-size: 3em;
    padding-right: 30px;
    position: relative;
}
.largetext_wrap {
    width: 95%;
    /* This is set to keep the paragraph centered 
    vertically inside the container*/
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
/*****************************************************
ICONS
******************************************************/
.icons_section {
    height: 80vh;
    background-color: #062238;
    font-family: "Kanit", sans-serif;
    color: white;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}
.icons_container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    
    /* FLEX */
    display: flex;
    justify-content: space-between;
}
.icon_box p {
    width: 200px;
    margin-top: 30px;
    text-align: center;
}
.icon {
    width: 200px;
    height: 200px;
    background-color: transparent;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.one {
    background-image: url(../_assets/_images/cross_rover.svg);
}
.two {
    background-image: url(../_assets/_images/cross_rover.svg);
}
.three {
    background-image: url(../_assets/_images/cross_rover.svg);
}

/*****************************************************
SPLIT IN TWO SECTION
******************************************************/
.splitintwo {
    height: 100vh;
    display: flex;
    align-content: flex-start;
    background-color: #D4E0D7;
}
.splitintwo ::selection {
    background: black;
    color: white;
}
.halfcolumn_left,
.halfcolumn_right {
    width: 50%;
    position: relative;
    padding: 25px;
}
.halfcolumn_left {
    background-image: url(../_assets/_images/Back\ of\ card\ -\ MAIN.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.halfcolumn_text {
    width: 90%;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    line-height: 1.8;
}
.halfcolumn_text mark {
    background-color: black;
}
/*****************************************************
GALLERY
******************************************************/
.gallery_grid {
    display: flex;
    background-color: #273B4B;
    /* BORDERS */
    border-top: 20px solid #273B4B;
    border-bottom: 20px solid #273B4B;
}
.grid_largebox {
    display: flex;
    background-color: white;
    width: 33vw;
    height: 33vw;
}
.grid_column {
    width: 50%;
    height: 100%;
}
.grid_smallbox {
    width: 100%;
    height: 50%;
    background-color: white;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}
.image_one {
    background-image: url(../_assets/_images/20241212_144554\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_two {
    background-image: url(../_assets/_images/20241212_144633\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_three {
    background-image: url(../_assets/_images/20241212_144211\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_four {
    background-image: url(../_assets/_images/20241212_144752\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_five {
    background-image: url(../_assets/_images/20241212_144544\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_six {
    background-image: url(../_assets/_images/20241212_144802\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_seven {
    background-image: url(../_assets/_images/uppercase_01.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_eight {
    background-image: url(../_assets/_images/a_letter.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_nine {
    background-image: url(../_assets/_images/handgloves.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_ten {
    background-image: url(../_assets/_images/letter_group_02.svg), url(../_images/blackbar.svg);
    background-size: cover, auto;
    background-repeat: no-repeat;
    background-position: center, top;
}
.image_eleven {
    background-image: url(../_assets/_images/asterisk.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_twelve {
    background-image: url(../_assets/_images/numerals.svg), url(../_assets/_images/blackbar.svg);
    background-size: cover, auto;
    background-repeat: no-repeat;
    background-position: center, top;
}
/*****************************************************
HEADING + PARAGRAPH SECTION
******************************************************/
.fulltextbox {
    width: 100%;
}
.bigtextbox {
    width: 75%;
}
.smalltextbox {
    width: 80%;
    max-width: 1200px;
}
.text_section h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
.text_section h2 {
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 20px;
}
.text_section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.text_section h4 {
    width: 40%;
    margin-top: 40px;
    margin-bottom: 20px;
}
/*****************************************************
TEXT&IMAGE SECTION
******************************************************/
.textimage_section {
    font-family: 'Roboto', sans-serif;
    padding: 200px 0 200px 0;
    background-color: black;
}
.textimage_section .textbox {
    width: 80%;
    max-width: 1200px;
    min-width: 800px;
    background-image: url(../_assets/_images/circular.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 340px;
    padding: 100px 20px;
}
.textimage_section h2 {
    text-transform: uppercase;
    color: red;
    font-size: .8em;
    font-style: normal;
    letter-spacing: .3em;
    width: 60%;
    margin-bottom: 10px;
}
.textimage_section p {
    color: white;
    margin-bottom: .8em;
    letter-spacing: .02em;
    width: 55%;
}
/*****************************************************
CTA SECTION
******************************************************/
.cta_section {
    font-family: 'Roboto', sans-serif;
    padding: 100px 0;
    background-color: white;
}
.cta_section .textbox {
    width: 80%;
    padding: 100px 20px;
    
    /* This will keep the width flexible (at 80%) 
    but between 1200px and 800px */
    max-width: 1200px;
    min-width: 800px;
}
.cta_section p {
    font-size: 1em;
    margin-bottom: .8em;
    width: 60%;
}
.cta_section h1 {
    color: black;
    font-size: 42px;
    letter-spacing: .05em;
    margin-bottom: 20px;
    width: 60%;
}
.cta_section .cta_button {
    width: 200px;
    height: 50px;
    background-color: lime;
    border-radius: 25px;
    margin-top: 40px;
    background-image: url(../_assets/_images/cta_button.png);
    
    /* Animated Feedback */
    transition: all .4s ease;
}
.cta_section .cta_button:hover {
    background-color: black;
}
/*****************************************************
FOOTER
******************************************************/
.footer_section {
    background-color: 062238;
    font-family: 'Roboto', sans-serif;
    background-image: url(../_assets/_images/cross_rover.svg);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 98% 88%;
}
.footer_section .textbox {
    width: 80%;
    max-width: 1200px;
    min-width: 800px;
    padding: 100px 0 50px 20px;
}
.footer_section .textbox .copyright {
    color: #888888;
    line-height: 1.5;
    letter-spacing: .08em;
    
    margin-top: 200px;
    letter-spacing: .2em;
    font-weight: 400;
}
.footer_section .textbox a {
    color: white;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: .09em;
    
    transition: all .4s ease;
}
.footer_section .textbox a:hover {
    color: #D4E0D7;
}